.conteudo {
  display: flex;
  justify-self: flex-start;
  margin: 1 auto;
}
.valido {
  color: #bbecb2;
}
.invalido {
  color: #ecc2b2;
}
.link {
  white-space: nowrap;
  width: 50vw;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mybadge {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}
span.badge.new {
  background: #487381;
  color: #e7dfd5 !important;
}

.link {
  display: flex;
  word-wrap: break-word;
}
