<form [formGroup]="formRss" (ngSubmit)="onSubmit()" class="base">
  <div class="form-group">
    <div class="conteudo">
      <div class="divNome">
        <label for="nome">Nome</label>
        <input
          required
          minlength="1"
          type="text"
          class="form-control validate"
          NgModule
          name="name"
          formControlName="nome"
        />
        <span
          class="helper-text"
          data-error="campo obrigatório"
          data-success="Correto"
        >
        </span>
      </div>
      <div class="divDrop">
        <label for="nome">Tipo da Fonte:</label>
        <div>
          <p-dropdown
            [options]="tipoFontelist"
            [(ngModel)]="tipoFonteEscolhido"
            NgModule
            formControlName="tipoFonteId"
            name="tipoFonteId"
            class="form-control validate"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <br />
    <div>
      <label for="url">Link do RSS</label>
      <input
        required
        minlength="1"
        type="text"
        NgModule
        class="form-control validate"
        name="url"
        formControlName="url"
      />
      <span
        class="helper-text"
        data-error="campo obrigatório"
        data-success="Correto"
      >
      </span>
    </div>
  </div>
  <br /><br /><br />
  <input
    type="submit"
    [class.disabled]="validador()"
    class="btn btn-primary mt-4"
    value="Salvar"
  />
  <div class="load">
    <div *ngIf="!lockVar">
      <p-progressSpinner
        [style]="{ width: '50px', height: '50px' }"
      ></p-progressSpinner>
    </div>
  </div>
</form>
