.sumir {
  visibility: hidden;
}
.base {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}
.conteudo {
  display: flex;
  justify-self: flex-start;
  margin: 1 auto;
}
.divNome {
  max-width: 260px;
}
.divDrop {
  margin-left: 50px;
  align-content: flex-start;
}
